/************** styles for index.html ****************/
/*----------------------------------- Variable Declaration--------------------------------------*/
html {
  scroll-behavior: smooth;
}

:root {
    --btn-color: #53c0ff;
    --clor-light: #0ef;
    --clor-b: #0ef;
    --bg-color: #010c23;
    --txt-color: #ffffff;
    --txt-color-white:#fff; 
    --shadow-color: rgba(0, 0, 0, 0.1);
}

/*----------------------------------- Common Style for all --------------------------------------*/
*{
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background:var(--txt-color-white);
    color:var(--txt-color);
}

a {
    text-decoration: none;
    color: inherit;
}

button, .btn{
 border: none;
 color: #fff;
 background-image: linear-gradient(30deg, #6F69E8, #332F80);
 border-radius: 20px;
 background-size: 100% auto;
 font-family: inherit;
 font-size: 17px;
 padding: 0.6em 1.5em;
}

.btn:hover{
   background-position: right center;
 background-size: 200% auto;
 -webkit-animation: pulse 2s infinite;
 animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
 0% {
  box-shadow: 0 0 0 0 #05bada66;
 }

 70% {
  box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
 }

 100% {
  box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
 }
}
/*----------------------------------- Header Section Style --------------------------------------*/
.header{
	background:none;
	display: flex;
	justify-content: space-between;
	padding: 0 10px 0 10px;
	position: sticky;
	top: 0;
	z-index: 1000;
	
}


/*-------------------------------------- Navbar -------------------------------*/
.hamburger{
  display: none;
}

.nav{
	display: flex;
	justify-content: center;
	align-items: center;
	gap:20px;
}
.navbar{
	display: flex;
	justify-content: center;
	align-items: center;
	gap:20px;
}


/*--------------------------------Login Button----------------------------------*/

#login{
	background-color: #FB4899;
	border-radius: 20px;
 	background-size: 100% auto;
 	font-family: inherit;
 	font-size: 17px;
 	padding: 0.6em 1.5em;
	
}


#login:hover{
   background-position: right center;
 background-size: 200% auto;
 -webkit-animation: pulse 2s infinite;
 animation: wave 1.5s infinite;
}

@keyframes wave {
 0% {
  box-shadow: 0 0 0 0 #05bada66;
 }

 70% {
  box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
 }

 100% {
  box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
 }
}
/*----------------------------------- Home Section Style --------------------------------------*/
#home {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url('../../public/assets/image/IT-setup-bg.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.bg {
    position: absolute;
    z-index: -20;  
}

.col-1 {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    color: var(--txt-color);
    text-align: center;
    z-index: 1;  
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px; 
    position: relative; 
    bottom: 88px;
}

.col-1 h1 {
    font-size: 5vw; 
    margin-top: -130px;
    font-weight: 600;
}

.col-1 p {
    font-size: 1.2rem;
}

.col-1 p .para-1 {
    color: var(--btn-color);
}

.col-1 .home-buttons {
    margin-top: 1.3rem;
}

.col-1 .home-buttons .btn {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 600;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--btn-color);
    color: #fff;
}

/*-----------------------------About Section Style------------------------------------*/

#about {
    background-color: var(--bg-color);
    font-family: 'Arial', sans-serif;
    color: var(--txt-color);
    border-radius: 15px;
    width: 100%;
}

.section-heading {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    color: var(--txt-color);
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.2;
}

.about-part-one,
.about-part-two {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

.right-info,
.left-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.left-image,
.right-image {
    width: 35%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  	border-radius: 5px;
  	cursor: pointer;
}

.left-image img, .right-image img {
	width: 100%;
    height: auto;
    object-fit: cover;
  	border-radius: 5px;
  	transition: all 1s ease;
  	  
}

.left-image img:hover{
	transform: scale(1.2);
} 

.right-image img:hover{
	transform: scale(1.2);
}

.our-mission, 
.who-are-we, 
.why-we-started, 
.our-vision {
    margin-bottom: 30px;
    padding: 0px 25px;
    border-radius: 10px;

}

h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--btn-color);
    margin-bottom: 5px;
    text-transform: capitalize;
    text-align: center;
}

#about p {
    font-size: 16px;
    text-align:justify;
    line-height: 1.7;
    color: var(--txt-color);
    font-weight: 300;
}


.our-mission p,
.who-are-we p,
.why-we-started p,
.our-vision p {
    padding: 20px;
}


/*------------------------------------Review section Style----------------------*/

h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--txt-color);
    margin-bottom: 2rem;
}

.reviews {
    padding: 3rem 1.5rem;
    background-color: var(--bg-color);
}

.reviews h2{
	color:var(--btn-color);
}

.review-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.review {
    background-color: var(--clor-b);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    transition: transform 0.5s ease-in-out;
}

.review:hover {
    transform: translateY(-10px);
    color: var(--background-color);   
    box-shadow: 0 0 20px var(--clor-b); 
    transition:  0.5s ease-in-out;
    border-radius: 40px 0px 40px 0px;
    
}

.review-text {
    font-size: 1rem;
    color: var(--bg-color);
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.reviewer {
    display: flex;
    align-items: center;
}

.reviewer img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    border: dotted var(--btn-color) 2px;
}

.reviewer-info h3 {
    font-size: 1.1rem;
    color: var(--txt-color);
    margin: 0;
}

.reviewer-info p {
    font-size: 0.9rem;
    color: #555;
}

/*------------------------Contact Section Style------------------------------*/

.contact-section {
    background-color: var(--bg-color);
    padding: 40px 0;
}

.contact-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.contact-info-container {
    flex: 1;
    min-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 30px;
    position: relative;
}

.contact-info-header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-info-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-info-container h3 {
    color: var(--btn-color);
    font-size: 2.5rem;
    margin-bottom: 15px;
    align-self: center;
}

.contact-info-container p {
    color: var(--txt-color);
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-item {
    font-size: 1.2rem;
    color: var(--txt-color);
}

.contact-item a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.contact-item a:hover {
    color: var(--clor-light);   
    text-shadow: 0 0 20px var(--clor-b); 
}

.contact-form-container {
    flex: 1;
    min-width: 45%;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
    color: var(--txt-color);
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.contact-section p {
    color: var(--txt-color);
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.contact-form label {
    text-align: left;
    color: var(--txt-color);
    font-size: 1.1rem;
    width: 100%;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.1rem;
    color: var(--txt-color);
    background-color: #fff;
}

.contact-form textarea {
    height: 150px;
    resize: none;
}

.contact-form .btn {
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
}



.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: var(--btn-color);
    box-shadow: 0 0 5px rgba(255, 194, 0, 0.5);
}

/*------------------- Footer Section Style --------------------------------*/


footer {
  background-color: #08132b;
  color: #fff;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo img {
  width: 200px;
	margin-left: -50px;
}

.footer-gratitude p {
  color:ver(--text-color-white);
  font-size: 14px;
  max-width: 300px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links, .social-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links a:hover{
	margin-left:10px;
    text-shadow: 0 0 20px var(--clor-b); 
	transition:0.5s;
}

.footer-links li, .social-links li {
  display: block;
}

.footer-links a, .social-links a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.footer-links a:hover, .social-links a:hover {
  color: var(--clor-light);   
  text-shadow: 0 0 20px var(--clor-b); 
}

.social-links a i {
  font-size: 18px;
  margin-right: 8px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

#current-year {
  font-weight: bold;
}



/*------------------------------------------------- Mobile -------------------------------------------*/

/*----------------------------------- Navbar Responsive Style --------------------------------------*/

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
    font-size: 2rem; 
  }


  .nav {
    display: none; 
    flex-direction: column;
    gap: 10px;
    background-color: var(--bg-color);
    padding: 10px;
    width: 50%;
    position: absolute;
    top:60px;
	right: 40px;
  }
  
  .navbar {
  display: flex;
  flex-direction: column;
  }

 
  .nav.active {
    display: flex;
    
  }
  
  #about{
  display: flex;
  flex-direction: column;
  
  }
  
}

@media screen and (max-width: 1000px) {
	.about-part-one,
	.about-part-two {
    display:flex;
   	flex-direction:column-reverse;
    justify-content: center;
    align-items:center;
}
	
	
	
	}





